/*Estilos index*/
* {
    box-sizing: border-box;
  }
.nav_1{
    align-content: center;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #999;
    line-height: 1.5;

    padding: 1em;
    background: rgb(227,227,227);
background: linear-gradient(180deg, rgba(227,227,227,0.8743872549019608) 16%, rgba(255,255,255,1) 66%);
    
  }

a {
  color: #33bfd0;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
a:hover {
  color: #70d2de;
}

p {
  text-align: center;
}

.grad_bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #ee7752, #03045e, #48cae4);
  background-size: 400% 400%;
  -webkit-animation: gradbar 15s ease infinite;
  -moz-animation: gradbar 15s ease infinite;
  animation: gradbar 15s ease infinite;
}

h1,
h2,
h3,h4 {
  color: #333;
  text-align: center;
}

h1 {
  font-size: 2em;
  text-align: center;
  font-weight: 500;
}

h3 {
  font-size: 1.3em;
  margin: 2rem 0 0 0;
  line-height: 0.5;
  font-weight: 500;
}

header {
  text-align: center;
  color: #33bfd0;
  text-transform: uppercase;
}
header nav {
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
}

header nav li {
  margin: 0 15px;
  display: inline-block;
}

ul {
    text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  grid-area: header;
  display: grid;
  justify-items: center;
}

header nav {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

header nav ul {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.info_box{
    background-color: #eeeef3;
    width: 500px;
    height: 610px;
    margin: 1em auto;
    border-radius: 2em;
    box-shadow: 0px 11px 35px 4px rgba(75, 34, 34, 0.14);
}

#b_cr_nombre{
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 60px;
    text-align: center;
    margin-bottom: 27px;
    margin-top: 10px;
}

#b_cr_url{
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 60px;
    text-align: center;
    margin-bottom: 27px;
    margin-top: 1px;
}

#b_cr_comentario{
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 60px;
    margin-left: 60px;
    text-align: center;
    margin-bottom: 27px;
}

#b_cr_label{
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 0px;
    text-align: center;
    margin-bottom: 27px;
}

#b_cr_login{
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 0px;
    text-align: center;
    margin-bottom: 27px;
}

#b_cr_password{
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 0px;
    text-align: center;
    margin-bottom: 27px;
}

#btn_crear_bookmark{
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right,#03045e , #48cae4);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-left: 0%;
    font-size: 18px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}


#btn_crear_bookmark:hover,
#btn_crear_bookmark:focus {
  background: #3952a3;
  color: #ffffff;
  outline: 0;
  transition: background-color 2s ease-out;
}

@media only screen and (min-width: 700px) {
    .contenedor {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  
    .contenedor > * {
      padding: 2em;
    }
 
}


